.itemR {
  position: relative;
}

.itemR::after {
  position: absolute;
  content: '';
  left: -25px;
  width: 25px;
  height: 1px;
  background: #ccc;
  top: 10px;
}

.forumAdd {
  position: relative;
}

.forumAdd::after {
  position: absolute;
  content: '';
  left: -25px;
  width: 25px;
  height: 1px;
  background: #ccc;
  top: 10px;
}
.listR {
  /*margin-bottom: -40px;*/
}

.EditorBoxSendContainer {
  padding-bottom: 5px;
  .quill {
    border: none!important;
    .ql-toolbar {
      border: none;
    }
    .ql-container {
      border: none;
      height: 120px;
      max-height: 120px;
      overflow-y: auto;
      margin-right: 50px;
    }
  }
  &.isSmall {
    .quill {
      .ql-container {
        height: 40px;
        max-height: 40px;
        .ql-editor {
          padding: 5px 20px;
        }
      }
    }
  }
}

.answerBoxContent {
  .replyIcon {
    display: none;
  }
  &:hover {
    .replyIcon {
      display: block;
    }
  }
}