iframe {
  width: 100%;
}

.addTestModal {
  width: 100vw!important;
  height: 100vh!important;
  .ant-modal-content {
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: hidden;
    border-radius: 0px;
    .ant-modal-body {
      height: 100%;
      width: 100%;
    }
  }
}

.previewTestModal {
  width: 100vw!important;
  height: 100vh!important;
  .ant-modal-content {
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: hidden;
    border-radius: 0px;
    .ant-modal-body {
      height: 100%;
      width: 100%;
      > div {
        height: 100%;
        > div {
          height: 100%;
        }
        form {
          height: 100%;
          .sd-container-modern {
            height: 100%;
            display: flex;
            flex-direction: column;
            .sv-components-row {
              flex: 1;
              overflow-y: auto;
            }
          }
        }
      }
    }
  }
}